{{!-- <h1>Lista de películas</h1> --}}
<div class="container coasters-index">
  <br>
  <div class="row">
    <div class="col-md-4">
      <h1 style="font-weight: 100">Lista de eventos</h1>
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-2">
      <a href="events/add" class="btn btn-dark">Añadir un evento</a>
    </div>
  </div>
  <br>

  {{#each event}}
  <div class="row">
    <div class="col-md-6">
      <br><br>
      <h5><strong>Nombre del evento: </strong> {{name}}</h5>
      <p><strong>Día del evento: </strong>{{date}}</p>
      <p><strong>Descripción del envento:</strong> {{description}}</p>
      <p><strong>Creador del evento:</strong> {{creator}}</p>
      <p><strong>Tipo de evento:</strong> {{type}}</p>
      <a href="#" class="btn btn-dark">Unirme al evento</a>
      <a href="/events/edit?eventId={{_id}}" class="btn btn-dark">Modificar evento</a>
      <a href="/events/delete?eventId={{_id}}" class="btn btn-dark">Borrar evento</a>
      


    </div>

  </div>
  {{!-- <p>Nombre: <a href="/event/list/{{this._id}}">{{this.name}}</a>
    (<a href="/event/edit?eventId={{this._id}}"> Editar</a> | <a href="/event/delete?eventId={{this._id}}">
      Borrar</a>)</p> --}}

  {{/each}}


  {{!-- {{#each movies}}
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-2">
      <img src="http://image.tmdb.org/t/p/w185/{{poster_path}}" alt="imagen">
    </div>
    <div class="col-md-8">
      <br><br>
      <h5><strong>Título: </strong> {{title}}</h5>
      <p><strong>Descripción: </strong>{{overview}}</p>
      <p><strong>Calificación:</strong> {{vote_average}}</p>
      <p><strong>Fecha de lanzamiento:</strong> {{release_date}}</p>
      <a href="#" class="btn btn-dark">Añadir localización</a>
      <a href="#" class="btn btn-dark">Añadir a películas pendientes</a>
      <a href="#" class="btn btn-dark">Marcar como vista</a>
    </div>
  </div>
  <br>
  {{/each}} --}}


</div>