<!-- index.hbs -->
<div class="movies-index">
  <div class="container">
    <div class="info-page row movies-header">
      <div class="col-md-4">
      
      <h1 style="font-weight: 100; color:#E1E3E2">Lista de películas</h1>
     
      </div>
      <div class="col-md-6">
      </div>
      <div class="col-md-2">
      
      <a href="/movies/{{page}}" class="btn btn-dark next-btn"style="align-items-right">Página siguiente</a>
    
    </div>
    </div>

    {{#each movies}}
    <div class="containerMovies">
      <div class="image-movies">
        <img src="http://image.tmdb.org/t/p/w185/{{poster_path}}" alt="imagen" class="img-movie">
      </div>
      <div class="card-body">
        <h5><strong>Título: </strong> {{title}}</h5>
        <p class="description-movies"><strong>Descripción: </strong>{{overview}}</p>
        <p><strong>Calificación:</strong> {{vote_average}}</p>
        <p><strong>Fecha de lanzamiento:</strong> {{release_date}}</p>
        <a href="/movies/add?movieId={{id}}" class="btn btn-dark">Añadir localización</a>
        <a href="/movies/pending?movieId={{id}}" class="btn btn-dark">Pendiente</a>
        <a href="/movies/shown?movieId={{id}}" class="btn btn-dark">Vista</a>
      </div>
    </div>
    <hr>
    {{/each}}
  </div>

  <a href="/movies/{{page}}" class="btn btn-dark">Página siguiente</a>

</div>